<!doctype html>
<html lang="en">
  <body>{{#json}}
    <div class="card border-info" style="width: 60rem;">{{#inprogress}}

        <div class="card-header  p-2 mb-2 bg-info text-white">
            <h3><a href="http://doc.grupa.onet/display/PROJEKTY/{{name}}">{{name}}</a></h3>
            <h2>{{#extras}}{{team}}{{/extras}}</h2>
        </div>        
                <div class="progress">
                {{#extras}}
                        <div  class="progress-bar bg-success " role="progressbar" style="width: {{cost_burned}}%" aria-valuenow="{{cost_burned}}" aria-valuemin="0" aria-valuemax="100">{{cost_current}} / {{cost_lbe}}</div>
                   </div>
                <div class="card-body">
                    <p class="card-text">Test danych: {{cost_burned}}</p>
                </div>
                {{/extras}}
                <div class="card-footer bg-transparent border-info" align="right">
                    <a href="http://pmo.cloud.onet/api/updateall/{{name}}" class="btn btn-danger btn-lg">Karta sprintu (KA)</a>
                    <a href="http://pmo.cloud.onet/api/updatealldesc/{{name}}" class="btn btn-warning btn-lg">Karta sprintu (DESC)</a>     
                    <a href="http://pmo.cloud.onet/api/genscope/{{name}}" class="btn btn-primary btn-lg">Zakres (DOC)</a>
                    <a href="http://pmo.cloud.onet/api/genestimate2/{{name}}" class="btn btn-success btn-lg">Kosztorys (XLS)</a>            
               </div>

        {{/inprogress}}</div>
    {{/json}}
  </body>
</html>

